.letter {
    width: 100px;
    height: 100px;
    border-radius: 4px;
    background-color: cadetblue;
    color: silver;
    font-size: 6em;
    touch-action: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #board {
    display: block;
    background-color: silver;
    width: 1200px;
    height: 1200px;
    margin: auto;
  }

  #page {
    text-align: center;
  }