.letter {
    width: 75px;
    height: 75px;
    border-radius: 4px;
    background-color: cadetblue;
    color: silver;
    font-size: 4em;
    touch-action: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #board {
    display: block;
    background-color: silver;
    width: 900px;
    height: 900px;
    margin: auto;
  }

  #page {
    text-align: center;
  }